<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<div class="container">
    <header>
        <div class="row m-3">
            <h1>Continuous Integration and Deployment</h1>
            <h4>A CI/CD pipeline is a series of steps that must be performed in order to deliver a new version of
                software. Continuous integration/continuous delivery (CI/CD) pipelines are a practice focused on
                improving software delivery using either a DevOps or site reliability engineering (SRE)
                approach.</h4>
        </div>
    </header>
</div>

<div class="row">
    <div class="row">
        <div class="col-8">
            <div class="card" style="200rem">
                <div class="card-header h5">
                    Git Actions
                </div>
                <div class="card-body h8">
                    <blockquote class="blockquote mb-0 size-3">
                        <p class="h4">Project structure</p>
                        <small class="mb-1">The Workflow are set using git actions. Git actions helps in defining the
                            proccess. What and when to execute is defined here</small>
                        <br>
                        <br>
                        <small>
                            <ul class="h4">Workflow</ul>
                            <li>dev.yml- This file executed on when pull request is hit. It first runs the pytest to
                                check
                                for any test faliur and deployes the code to deployment environment
                            </li>
                            <small class="mb-3 small">
                                <li>Dev.yml- This file runs the pytest and deployes the code to development environment
                                    when
                                    Push request is hit
                                </li>
                                <li>Prod.yml- This file runs the pytest and deployes the code to production environment
                                    when
                                    pull request is successful and Merge is hit. This file builds container and then
                                    uploads
                                    the image to docker hub
                                </li>
                                <br>
                            </small></small>
                    </blockquote>
                    </small> </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Reference links:<br>
                            <a href="https://www.youtube.com/watch?v=9VFqJoe8WWw" class="card-link">Heroku Docker Github
                                CI:CD Video</a><br>
                            <a href="https://dashboard.heroku.com/apps" class="card-link">My Heroku login</a><br>
                        </h6></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <img src="{{ url_for('static', filename='images/CICD1.png') }}" class="d-block w-100"
         alt="{{ url_for('static', filename='images/CICD1.png') }}">
</div>
<div class="row">
    <div class="card-body h8">
        <blockquote class="blockquote mb-0 size-3">
            <small>
                <small class="mb-3 small">
                    <small>
                        <ul class="h4">CI/CD Steps</ul>
                        <div class="lead">
                            <li>Clone a Project</li>
                            <li>Create a branch</li>
                            <li>Make required changes to the branch</li>
                            <li>Open Git Hub, create Repo and copy the path</li>
                            <li>Update the copied path in Git Remote</li>
                            <li>Login to Dockerhub and create Repository</li>
                            <li>Mention the Docker repo name in prod.yml</li>
                            <li>Login to Heroku create dev and prod apps and link it to Git Repo, create
                                authorization
                                key.
                            </li>
                            <li> In Git Sectet setting mention the key generated above</li>
                            <li>Pipeline is now ready</li>
                            <li>Commit and push the changes</li>
                            <li>The changes once successfully complete, docker image is generated and
                                deployed to both
                                Dev and Production servers
                            </li>
                        </div>
                    </small></small></small>
        </blockquote></div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>
{% endblock %}