<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
</head>
<body>
<div class="container">
    <header>
        <div class="row-cols-1 m-3">
            <h1>Docker</h1>
            <h4>Docker is an open platform for developing, shipping, and running applications. Docker enables you to
                separate your applications from your infrastructure so you can deliver software quickly. </h4>
        </div>
    </header>
    <div class="row m-3">
        <div class="row">

            <div class="card" style="200rem">
                <div class="card-header h5">
                    Docker objects
                </div>
                <div class="card-body h8">
                    <blockquote class="blockquote mb-0 size-3">
                        <p class="h4">Image</p>
                        <small class="mb-1">A Docker image is a read-only template that contains a set of
                            instructions
                            for creating a container that can run on the Docker platform</small>
                        <p class="h4">Container</p>
                        <small class="mb-3 small">A Docker container image is a lightweight, standalone, executable
                            package
                            of software that includes everything needed to run an application: code, runtime, system
                            tools, system libraries and settings.</small><br>

                        <a href="https://njit.instructure.com/courses/21654/assignments/229248">My Docker Repo</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row slide mb-3">
        <div class="col-4 card">
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker run</p>
                    <small class="mb-1"> Runs a command in a new container.</small>
                    <h6 class="text-muted">$ docker run [OPTIONS] IMAGE [COMMAND] [ARG...]</h6>
                </blockquote>
            </div>
        </div>
        <div class="col-4 card">
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker start</p>
                    <small class="mb-1">Starts one or more stopped containers</small>
                    <h6 class="text-muted">$ docker start [OPTIONS] CONTAINER [CONTAINER...]</h6>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row slide m-3">
        <div class="col-3 card">
            <div class="col-4 card">
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker stop</p>
                    <small class="mb-1">Stops one or more running containers</small>
                    <h6 class="text-muted">$ docker stop [OPTIONS] CONTAINER [CONTAINER...]</h6>
                </blockquote>
            </div>
        </div>
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker build</p>
                    <small class="mb-1">Builds an image form a Docker file</small>
                    <h6 class="text-muted">$ docker build [OPTIONS] PATH | URL | -</h6>
                </blockquote>
            </div>
        </div>
        <div class="col-3 card">
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker pull</p>
                    <small class="mb-1">Pulls an image or a repository from a registry<</small>
                    <h6 class="text-muted">$ docker pull [OPTIONS] NAME[:TAG|@DIGEST]</h6>
                </blockquote>
            </div>
        </div>
        <div class="col-3 card">
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">docker push</p>
                    <small class="mb-1">Pushes an image or a repository to a registry</small>
                    <h6 class="text-muted">$ docker push [OPTIONS] NAME[:TAG]</h6>
                </blockquote>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


</body>
</html>
{% endblock %}