<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Git</h2>
        <h4>Git is Version control system, allowing you to work together and collabrate with your team </h4>
    </div>

    <div class="row border">
        <div class="col-9"><h5>Git Merge</h5>
            <p class="lead"> Merge is a powerful way to integrate changes from divergent branches. After
                forking
                the
                project history with git branch, git merge lets you put it back together
                again.</p>
            <h5><footer class="blockquote-footer small">$ git merge</footer></h5>
            <h5>Git Commit</h5>
            <p class="lead"> Commit takes the staged snapshot and commits it to the project history. Combined
                with
                git
                add, this defines the basic workflow for all Git users.
            </p>
            <h5><footer class="blockquote-footer">$ git commit</footer></h5>
            <h5>Git Repo</h5>
            <p class="lead">A Git repository (or repo for short) contains all of the project files and the
                entire
                revision history...</p>
            <h5><footer class="blockquote-footer">$ git init</footer></h5>
        </div>
        <div class="col border">
            <div class="row"><img src="{{ url_for('static', filename='images/GitHub1.jpg') }}" class="d-block w-100"
                                  alt="{{ url_for('static', filename='images/GitHub1.jpg') }}">
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Reference links:<br>
                            <a href="https://github.com/snehalkorade9" class="card-link">My Git Repo</a><br></h6>
                            <h6>
                                <a>Git learnings:</a><br></h6>
                            <h6><a href="https://education.github.com/git-cheat-sheet-education.pdf" class="card-link">Git
                                Cheat sheet</a><br>
                            <a href="https://dev.to/milu_franz/git-explained-the-basics-igc" class="card-link">Git
                                Basics</a><br>
                            <a href="https://www.youtube.com/watch?v=QFhXBH3rmSY" class="card-link">Commandline
                                Basics</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-7">
            <h5>Git Branch</h5>
            <p class="lead">Branch is an isolated development environments within a single repository</p>
            <h5><footer class="blockquote-footer">$ git clone</footer></h5>

            <h5>Git Tags</h5>
            <p class="lead">Tags are branches that do not change. After you create a tag, there will be no more
                commits
                added to the history of the tag.</p>
            <h5><footer class="blockquote-footer">$ git tag</footer></h5>

        </div>
    </div>
</div>
</div>

</body>
</html>
{% endblock %}