<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
</head>
<body>
<div class="row-cols">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/Git.jpg') }}" class="d-block w-100"
                         alt="{{ url_for('static', filename='images/Git.jpg') }}" height="500px" width="400px">
                <div class="carousel-caption d-none d-md-block">
                <h3><a href="/Git">Git</a></h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/docker.jpg') }}" class="d-block w-100"
                     alt="{{ url_for('static', filename='images/docker.jpg') }}" height="500px" width="400px">
                <div class="carousel-caption d-none d-md-block">
                    <h3><a href="/Docker">Docker</a></h3>
                </div></div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/flask.jpg') }}" class="d-block w-100"
                         alt="{{ url_for('static', filename='images/flask.jpg') }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h3><a class="white" href="/Python_Flask">Python/Flask</a></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/CICD.png') }}" class="d-block w-100"
                         alt="{{ url_for('static', filename='images/CICD.png') }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h3><a class="white" href="/ci_cd">CI/CD</a></h3>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        </div>

    </div>
</div>
<div class="row">
        <div class="card" style="200rem">
            <div class="card-header h5">
                Git Actions
            </div>
            <div class="card-body h8">
                <blockquote class="blockquote mb-0 size-3">
                    <p class="h4">Hello</p>
                    <small class="mb-1">I am Snehal Korade, studying at NJIT. I have a total experience of 6.5 years in IT and hove now decided to get back to studies and upgrade myself with the latest technologies in trend.
                        This website gives an overview of the latest technology I am studing in this semester and have gained a good knowledge on till now. </small>
                </blockquote>
            </div>
        </div>
</div>

</body>
</html>
{% endblock %}