<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
</head>
<body>
<div class="container">
    <header>
        <div class="row-cols-1 m-3">
            <h1>Python Flask</h1>

        </div>
    </header>
    <div class="row m-3">
        <div class="row">
            <div class="card" style="200rem">
                <div class="card-header h5">
                    Python Pytest
                </div>
                <div class="card-body h8">
                    <blockquote class="blockquote mb-0 size-3">
                        <p class="h4">PyTest</p>
                        <small class="mb-1">The pytest framework makes it easy to write small, readable tests, and can
                            scale to support complex functional. Below functions are used to test in the project
                            pytest</small>
                        <p class="h4">Container</p>
                        <small class="mb-3 small">1. assert function is used to test the content of webpage
                            <br>2. pytest.fail() function is used to fail if a certain condition is not met
                            <br>3. Pytest is scheduled to run everyday at given time expect 2 days</small><br>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="row">
            <div class="card">

                    <blockquote class="blockquote mb-0 size-3">
                        <div class="card-header h5">
                        <small class="mb-3 small">
                            <h3>Project structure</h3></div>
                            <small>
                                <ul class="h4">Workflow</ul>
                                <li>GitHub workflow is used to run when a particular action is triggred or completed,
                                    example
                                    on
                                    Pull/push
                                </li>

                                <li>Dev.yml- This file runs the pytest and deployes the code to development environment
                                    when
                                    pull request is hit
                                </li>
                                <li>Prod.yml- This file runs the pytest and deployes the code to production environment
                                    when
                                    pull request is successful and Merge is it
                                </li>
                                <br>

                                <ul class="h4">Simple Pages</ul>
                                <p>This structure helps in sharing comman code between all the pages</p>

                                <li>_init_.py- This file defines the blue print of the project. It consists of the code
                                    required to iterate through the simple
                                    pages
                                </li>
                                <li>base.html- This file has the comman code and is extended by all the other
                                    pages
                                </li>
                                <li>Other html files- These files consists of the actual code of the pages</li>
                                <p3>All the simple pages are tested under single test file.</p3>
                            </small><br>

                            <ul class="h4">test</ul>
                            <p>The files required for unit testing the application are present here</p>

                            <li>simple_pages_test.py- consists of all the testing code but this only triggres
                                through pytest.ini
                            </li>
                            The pytest.ini file is called by the workflow to run the tests

                        </small></small></small></small></blockquote>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


</body>
</html>
{% endblock %}